version: "3.8"

services:
  mongodb:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    
  scraper:
    build: .
    container_name: scraper
    depends_on:
      - mongodb
    restart: unless-stopped


volumes:
  mongo_data: